* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.dark {
  --bg-color: #282c2d;
  --bg-color-main: #212528;
  --main-color: #fff;
}
.light {
  --bg-color: #6ac5dc;
  --bg-color-main: #e2e2e2;
  --main-color: #000;
}
